*{
  margin : 0;
  padding : 0;
}

html{
  scroll-behavior:smooth;
  scroll-padding: 90px;
  /*scroll-padding: 90px;*/
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.header{
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #000;
}

.ListadoLink{
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.link{
  font-size: 16px;
  margin: 10px;
}

.header a{
  color: #fff;
  text-decoration: none;
}

.contenedor{
  display: flex;
  flex-direction: column;
  height: calc(90vh - 50px);
  min-height: 100vh;
  width: 100%;
}

.bloque {
  width: 800px;
  margin: 50px auto 30px auto;
}

.titulo {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.body{
  text-align: justify;
  color: cadetblue;

}

.body p{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 900;
}